body{
	min-width:1150px;/*misura di schermo minima per una visualizzazione ottimale*/
}

html{
	min-height:100%; /*per evitare che lo sfondo si divida in bande*/
	background:url(../images/BG.jpg)
}

footer {
	display:block !important;
	margin-left: auto !important;
    margin-right: auto !important;
}

iframe {
	display:block !important;
	margin-left: auto !important;
    margin-right: auto !important;
}

.headIMG{
	float:left;
	margin-left:0.5%;
	box-shadow:0 0 20px #999;
	border-radius:4px
}

.IndexIMG{
	display:block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width:40%;
	border-radius:30px;
}

.mainTitle{
	margin-left:20%;
	margin-right:15%;
	text-shadow: 0px 6px 6px #fff;
}

.menu{
	float:left;
	width:15%;
	margin-left:0%;
}

.content{
	margin-left:16%;
	margin-right:15%;
}

.header{
	background:#fff url(../images/vigna.jpg) no-repeat center center;
    background-size:cover;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	height:25%;
	min-height:170px;
}

/*pulsanti*/
.button{
	text-shadow: 0 1px 1px #fff;
	color: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	margin:3px;
	width:140px;
	height:3%;
	min-height:30px;
	background-color:#f3ad9c;
}
.button:hover {
	background-color: #f3ad9c;
}

.menubuttons{
	font-size:90%;
	text-shadow: 0 1px 1px #fff;
	color: rgba(0, 0, 0, 1);
	border: 1px solid rgba(000,000,000,0.3);
	margin:0px;
	width:12%;
	min-width:160px;
	vertical-align:middle;
	white-space: normal;
	height:4%;
	min-height:40px;
	background-color:#f3ad9c;
	opacity:0.85;
}
.menubuttons:hover {
	font-size:95%;
	font-weight:bold;
}

/*questi servono per il menu orizzontale*/
.list {
/*visualizzo tutti i pulsanti sulla stessa linea*/
    display: inline;
}

ul#horiznav, #horiznav ul{/*remove the bullets from the dropdown ul as well*/
margin:0;
padding:0;
list-style-type:none;
}

#horiznav li{
position:relative/*set position:relative as the start point for absolutely positioning the dropdown*/
}

#horiznav li ul{
display:none;/*hide the dropdown*/
position:absolute;/*position it absolutely..*/
left:0;/*align the left edge with the left edge of the parent li...*/
/*top:32px;...and 32px down from the top - 30px height + 2px for the border*/
list-style-type:none;
}

#horiznav li:hover ul {
display:block;/*display the ul when the parent li is hovered*/
list-style-type:none;
}

.content_menu{
	display:block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90%;
}

ul#vertnav, #vertnav ul{/*remove the bullets from the dropdown ul as well*/
margin:0;
padding:0;
list-style-type:none;
}

#vertnav li{
position:relative/*set position:relative as the start point for absolutely positioning the dropdown*/
}

#vertnav li ul{
display:none;/*hide the dropdown*/
position:absolute;/*position it absolutely..*/
left:145px;/*align the left edge with the left edge of the parent li...*/
top:0px;/*...and 32px down from the top - 30px height + 2px for the border*/
list-style-type:none;
}

#vertnav li:hover ul {
display:inline;/*display the ul when the parent li is hovered*/
list-style-type:none;
}


/*caselle di testo*/
.text{
	width:100%;
	height:4%;
	min-height:30px;
	background-image: -moz-linear-gradient(0% 4% 90deg, #fff, #999);
	border-radius: 4px;
}
/*
.login{
	margin:0 auto;
	display: block;
	width:40%;
	min-width:200px;
	height:4%;
	min-height:30px;
	background-image: -linear-gradient(0% 10% 90deg, #fff, #999);
	border-radius: 4px;
}

.widetext{
	width:100%;
	height:60%;
	border-radius: 4px;
}*/

/*stile immagine*/
/* .img{
	width:80%;
	border-radius:10px;
	margin-left:10%;
} */

/*campo di stile degli oggetti nella pagina*/

.fieldset{
	display:inline-grid;
	width: 500px;
	height: 500px;
	border: 2px solid rgba(000,000,000,0.3);
	border-radius: 5px;
	background:white;
	box-shadow:0 0 10px #999;
  	transition: 0.3s;
}

.fieldset:hover {
	background-color: #d1cfcf;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*per tutte le scritte che devono stare al centro*/
.center{
	text-align:center;
}

/*gestione caratteri*/
p{
	font-family: Cambria, serif;
	text-align: justify;
	line-height: 1.3em;
}

h2 {
	font-family: Cambria, serif;
	color: black;
	text-shadow: 0px 6px 6px #fff;
}

h3 {
	line-height: 2;
}

h4 {
	font-family: Cambria, serif;
	text-align: justify;
}

h5 {
	font-family: Cambria, serif;
	color: red;
}

h6{
	font-family: Cambria, serif;
	color: black;
}

/*gestione link*/
a:link {
	text-decoration:none;
}

a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:white;
}

a:active {
	text-decoration:underline;
}

#map {
	display:block !important;
	margin-left: auto !important;
    margin-right: auto !important;
	width:60%;
	height:45%;
}

/*GESTIONE MENU RESPONSIVE*/
/* regole di reset */
.ul{
	margin: 0;
	padding:0;
	list-style-type:none
}

/*MENU PRINCIPALE*/
/* lista in orizzontale. inline-block è come inline, ma può avere altezza e larghezza. relative occorre per il sottomenu */
#menu li{
	display:inline-block;
	position:relative
}

/* menu. Cambiando center l'oriento a destra o sinistra */
#menu{
	text-align:center
}

/* link menu. Cambiando 80px posso scrivere voci più lunghe */
.li a{
	display:block;
	padding:12px 20px;
	width:150px;
	color:#fff;
	font:bold 12px Arial;
	text-decoration:none;
	border-right:1px solid #ccc
}

/* link menu hover */
a:hover{
	color:#C8C8C8
}

/* SOTTOMENU PRINCIPALE */
#menu li .hidden{
	display:block;
	position:absolute;
	top:100px;
	left:0;
	visibility:hidden;
	margin-left:-5px;
	border-right:none
}

/* link sottomenu */
#menu li .hidden li a{
	width:150px;
	border-right:none
}

/* animazione per il passaggio sopra agli elementi del menu */
#menu li:hover .hidden{
	margin-top:-65px;
	visibility:visible
}

/* TRIGRAMMA */
/* stile e invisibilità */
.showMenu{
	width:80px;
	border:1px solid black;
	margin:auto;
	color:black;
	text-align:center;
	font-size:30px;
	margin-bottom:10px;
	display:none;
	margin-left: 2.5%;
}

/* invisibilità checkbox
Il checkbox va nascosto in ogni caso ed il menu comparirà quando esso verrà selezionato tramite click sull’etichetta */
input[type=checkbox]{
	display:none
}

/* La tilde alt126 permette di selezionare tutti gli elementi B presenti in A;
qui sta a significare che dà visibilità al menu quando il checkbox viene selezionato. */
input[type=checkbox]:checked ~ #menu{
	display:block
}


/* MEDIA QUERIES */
/* rendo il menù responsivo per adattarlo ai dispositivi più piccoli, fino ad una risoluzione massima di 768px */
@media only screen and (max-width: 1200px) {

	#menu{
		border-radius:0;
		text-align:center;
		display:none
	}

	/* rendo gli elementi dei menu elementi di blocco */
	ul li{
		display:block
	}

	/* imposto la larghezza massima per gli elementi dei menu e i links */
	#menu li .hidden li,#menu li .hidden li a, ul li,ul li a{
		padding-right:0;
		padding-left:0;
		width:100%;
		border-right:none
	}

	/* mostro il sottomenu solo al passaggio del mouse */
	#menu li .hidden li{
		display:none
	}

	#menu li:hover .hidden li{
		display:block
	}

	/* resetto la posizione degli elementi del menu. static valore di default. Gli elementi sono mostrati in ordine, come appaiono nel flusso del documento */
	#menu li{
		position:static
	}

	/* resetto la posizione del sottomenu e lo mostro */
	#menu li .hidden{
		position: static;
		visibility:visible
	}

	/* nessuna animazione al passaggio del mouse */
	#menu li:hover .hidden{
		margin:0
	}

	/* mostro il pulsante del menu nella versione mobile*/
	.showMenu{
		display:block
	}

	.menubuttons{
		font-size:90%;
		text-shadow: 0 1px 1px #fff;
		color: rgba(0, 0, 0, 1);
		border: 1px solid rgba(000,000,000,0.3);
		margin:0px;
		width:100%;
		min-width:150px;
		vertical-align:middle;
		white-space: normal;
		height:8%;
		min-height:40px;
		background-color:#f3ad9c;
		opacity:0.85;
	}

	.header{
		margin-left:auto;
		margin-right:auto;
		max-width:100%;
	}
	.content{
		margin-right:15%;
		margin-left:16%;
		min-width:360px;
	}

	.mainTitle{
		margin-left:10%;
		margin-right:15%;
	}

	.text{
		width:100%;
		height:4%;
		min-height:20px;
		background-image: -moz-linear-gradient(0% 10% 90deg, #fff, #999);
		border-radius: 4px;
	}

	.widetext{
		width:100%;
		height:60%;
		border-radius: 4px;
	}

	.img{
		width:100%;
		border-radius:6px;
	}
}
